body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #333333;
}


/* Utility Classes */
.bg-green {
  background-color: #16C9B8;
}

.text-green {
  color: #16C9B8;
}

.btn-green {
  background-color: #16C9B8;
  color: #ffffff;
  border-color: #16C9B8;
}

.btn-green:hover {
  background-color: #11b3aa;
  color: #ffffff;
  border-color: #11b3aa;
}

.btn-green:focus {
    box-shadow: 0 0 0 0.25rem rgba(22, 201, 183, 0.158);
}


/* Header Part */
.logo {
  text-decoration: none;
}

.logo-img {
  width: 100%;
  max-width: 60px;
  display: inline-block;
}


/* Search Field */
#input-field:focus {
    border-color: rgba(22, 201, 183, 0.26);
    box-shadow: 0 0 0 0.25rem rgba(22, 201, 183, 0.089);
}


/* Products */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.single-product {
  padding: 10px;
  transition: 0.6s;
  border: 1px solid #d4d4d467;
  border-radius: 10px;
}

.single-product:hover {
  box-shadow: 0 0 10px 2px #8080802c;
  border-radius: 10px;
}

.product-image {
  width: 150px;
  height: 150px;
}

.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #cccccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f8ce0b;
}


/* Cart Box */
.cart-main {
  position: relative;
}

.cart {
  width: 100%;
  border: 1px solid #d4d4d467;
  padding: 10px;
  box-shadow: 5px 5px 20px #80808048;
  border-radius: 10px;
  position: sticky;
  top: 10%;
}


/* Footer */
footer {
  background: #063631;
}


/* Media Query */
@media only screen and (max-width: 768px) {
  body {
    font-size: 13px;
  }

  .form-control, .btn  {
    font-size: 12px;
  }

  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    position: static;
  }
}

@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
